@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project
@{
int year = DateTime.Now.Year;
    int month = DateTime.Now.Month;
    int day = DateTime.Now.Day;
    int hour = DateTime.Now.Hour;
    int minute = DateTime.Now.Minute;
    string currentDate = $"{year}-{(month < 10 ? "0"+month.ToString() : month.ToString())}-{(day < 10 ? "0"+day.ToString() : day.ToString())}T{(hour < 10 ? "0"+hour.ToString() : hour.ToString())}:{(minute < 10 ? "0"+minute.ToString() : minute.ToString())}";
    //"2019-02-18"
}
<h1>Make Your Project</h1>

<form method="post" asp-action="AddANewProject">
    <div>
        <input type="text" asp-for="Title"/>
        <select asp-items="@Html.GetEnumSelectList<Priority>()" asp-for="Priority"></select>
        <input type="number" min="1" asp-for="AssignedBudget" placeholder="Estimated Budget"/>
        <input type="datetime-local" min="@currentDate" asp-for="Deadline"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <button type="submit">Create</button>
</form>

@section Scripts {
@*   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
   <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
