@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="text-align: center;">@Html.Raw(ViewBag.message)</h2>

<div style="display: flex;justify-content: space-evenly;margin-top: 2rem;">
    <h3><a asp-action="DeleteTask" asp-route-taskId="@ViewBag.taskId">Yes, Delete this Task</a></h3>
    <h3><a asp-action="@ViewBag.abortAction" asp-route-ProjectId="@ViewBag.projectId">No</a></h3>
</div>

